<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseChoiceMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.po.CourseChoice">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="courseId" column="course_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,course_id
    </sql>
    <delete id="dropCourse">
        delete
        from course_choice
        where id = #{courseChoiceId}
    </delete>
    <select id="getCourseChoiceVOs" resultType="com.example.demo.entity.vo.CourseChoiceVO">
        select c.id      as courseId,
               c.course_no,
               c.course_name,
               c.user_id as teacher_id,
               u.user_no as teacher_no,
               u.name    as teacher_name
        from course c
                 left join user u on c.user_id = u.id
        ORDER BY c.id desc LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getChosenCourseIdList" resultType="java.lang.Long">
        select cc.course_id
        from course_choice cc
        where user_id = #{studentId}
    </select>
    <select id="getTotalCount" resultType="java.lang.Long">
        select count(*)
        from course
    </select>
    <insert id="chooseCourse">
        insert into course_choice (id, user_id, course_id)
        values (#{id}, #{studentId}, #{courseId})
    </insert>
    <select id="getMaxId" resultType="java.lang.Long">
        select max(id)
        from course_choice
    </select>
    <select id="getChosenCourseList" resultType="com.example.demo.entity.vo.CourseChoiceVO">
        select cc.id     as course_choice_id,
               cc.course_id,
               c.course_no,
               c.course_name,
               c.user_id as teacher_id,
               u.name    as teacherName,
               u.user_no as teacherNo,
               true      as chosen
        from course_choice cc
                 inner join course c on cc.course_id = c.id
                 left join user u on c.user_id = u.id
        where cc.user_id = #{studentId}
        order by cc.course_id desc
    </select>
    <select id="getById" resultType="com.example.demo.entity.vo.ChoiceVO">
        select id as course_choice_id, user_id as student_id, course_id
        from course_choice
        where id = #{courseChoiceId}
    </select>
    <select id="getAvailableCourseVOsByName" resultType="com.example.demo.entity.vo.CourseChoiceVO">
        select c.id as course_id,
        c.course_no,
        c.course_name,
        c.user_id as teacher_no,
        u.name as teacher_name
        from course c
        left join user u on c.user_id = u.id
        <where>
            <if test="courseName != null and courseName != ''">
                AND c.course_name LIKE CONCAT('%',#{courseName},'%')
            </if>
        </where>
        order by c.id desc limit #{offset}, #{pageSize}
    </select>
    <select id="getTotalCountByName" resultType="java.lang.Long">
        select count(*) from course c
        <where>
            <if test="courseName != null and courseName != ''">
                AND c.course_name LIKE CONCAT('%',#{courseName},'%')
            </if>
        </where>
    </select>
</mapper>
