<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.po.Course">
        <result property="id" column="id"/>
        <result property="courseNo" column="course_no"/>
        <result property="courseName" column="course_name"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,course_no,course_name,user_id
    </sql>
    <insert id="add">
        INSERT INTO course (id, course_no, course_name, user_id)
        VALUES (#{id}, #{courseNo}, #{courseName}, #{userId})

    </insert>
    <update id="update">
        update course
        <set>
            <if test="courseNo !=null and courseNo != '' ">
                course_no = #{courseNo},
            </if>
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from course
        where id = #{id}
    </delete>
    <select id="getMaxId" resultType="java.lang.Long">
        select max(id)
        from course
    </select>
    <select id="getInfo" resultType="com.example.demo.entity.vo.CourseVO">
        select id, course_no, course_name, user_id
        from course
        where id = #{id}
    </select>
    <select id="getPage" resultType="com.example.demo.entity.vo.CourseVO">
        select c.*, u.user_no, u.name as user_name
        from course c
                 left join user u on c.user_id = u.id
        ORDER BY c.id desc LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from course
    </select>
    <select id="getTaughtCourseList" resultType="com.example.demo.entity.vo.TaughtCourseVO">
        select id as course_id, course_no, course_name
        from course
        where user_id = #{userId}
    </select>
</mapper>
